.header{
     width: 100%;
    height: 50px;

    .new{
        border: 1px solid red;
        .never{
            width: 100%;
            height: 50px;
            background-color: red;
        }
    }
}