header{
    .box{
        margin-right: 6px!important;
    }
    .box1{
      width: 500px!important;
      margin-top: 20px!important;
      margin-left: 10px;
      .seach{
        margin-right: 20px!important;
      }
    }
    }
.gen {
    width: 400px;
    height: 900px;
    background-color: white;
    border: 2px solid none;
    margin-top: 50px;
    box-shadow: 0px 0px 3px black;
  }
  //   .gen .box1 {
  //   width: 400px;
  //   height: 100%;
  //   position: absolute;
  //   overflow-y: scroll;
  //   overflow-x: hidden;
  // }
  .form{
    margin-top: -840px!important;
    margin-left: 410px!important;
    width: 900px!important;
  }