// @media(max-width:360px){
//     font-size: 40px !important;
//     b:;
// }


.main{
    position: sticky;
    margin-top: 0px;
    top: -40px;
    left: 0px;
    z-index: 1;
    .nav{
        background-color: black !important;
        height: 70px !important;
        color: white !important;
    }
}
.holder{
.tab-content{
    top: 5px!important;
}
.fa{
   margin-right: 40px;
}
.img-circle{
   height: 70px;
   width: 70px;
   border-radius: 100%;
}
}